/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    box-sizing: border-box;
}

/*-------------------------------------------------------------------*/

body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}


.basecalculadora{
    display: grid;
    grid-template-columns: repeat(5, 50px);
    gap: 5px;
    width: auto;
    background-color: rgb(148, 72, 62);
    padding: 10px;
    border-radius: 10px;
    grid-auto-rows: 50px;
}

h1{
    grid-column: 1 / -1;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(32, 8, 8);
    color: white;
    text-align: center;
    line-height: 30px;
}


.reset, .dividido, .multiplicado, .resta, .numb7, .numb8, .numb9, .numb4, .numb5, .numb6, .suma, .numb1, .numb2, .numb3, .numb0, .punto, .igual, .borrar, .diezpor, .ANS {


    background-color: rgb(255, 133, 133);
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    line-height: 50px;
    user-select: none;

}

.reset, .dividido, .multiplicado, .resta, .suma, .igual, .borrar, .diezpor, .ANS {
    background-color: rgb(255, 100, 100);
}

.basecalculadora h2:hover {
    background-color: rgb(255, 70, 70);
}

.basecalculadora h2:active {
    background-color: rgb(255, 50, 50);
    transform: translateY(1px);
}